body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(230, 230, 230, 1);
}

.loginForm {
    float: left;
    height: 50vh;
    width: 40vw;
    margin-top: 25vh;
    margin-left: 30vw;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    background: rgba(250, 250, 250, 1);
}

.header {
    width: 80%;
    margin-left: 10%;
}

h1 {
    margin-top: 5vh;
}

.form_group {
    width: 80%;
    margin-left: 10%;
    height: 50px;
    margin-top: 10px;
    text-align: left;
}

.form_group label {
    font-size: 14px;
    font-weight: bold;
    width: 100%;
}

.input_icon {
    float: left;
    width: 10%;
    height: 30px;
    border: 1px solid black;
    text-align: center;
    border-left: none;
}

.input_icon i {
    margin-top: 6px;
}

.input_group input {
    float: left;
    width: 89%;
    height: 32px;
    border: 1px solid black;
    outline: none;
    border-right: none;
    padding-left: 10px;
    font-size: 0.8em;
    transition-duration: 0.5s;
}

.input_group input:focus {
    font-size: 1em;
}

input[type="submit"] {
    height: auto;
    width: 80%;
    margin-top: 3vh;
    font-size: 1em;
    padding: 10px;
    border: none;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:focus {
    background: rgba(50, 50, 50, 1);
}

input[type="submit"]:hover {
    background: rgba(50, 50, 50, 1);
}

@media only screen and (min-width: 1020px) and (max-width: 1500px) {
    .loginForm {
        float: left;
        height: 50vh;
        width: 30vw;
        margin-top: 25vh;
        margin-left: 35vw;
    }
}

@media only screen and (min-width: 1501px) {
    .loginForm {
        float: left;
        height: 50vh;
        width: 20vw;
        margin-top: 25vh;
        margin-left: 40vw;
    }
}