body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    border-radius: 2px;
}

.sidebar {
    position: fixed;
    height: 92vh;
    width: 200px;
    margin-top: 8vh;
    display: none;
}

.sidebar_items {
    float: left;
    height: 50px;
    width: 100%;
    margin: 0;
    border: none;
    text-align: left;
    padding-left: 20px;
    font-size: 1em;
    cursor: pointer;
}

.sidebar_items i {
    margin-right: 10px;
}

.sidebar_items:hover {
    background: rgba(250, 250, 250, 1);
    color: rgba(50, 50, 50, 1);
}

.navbar {
    position: fixed;
    height: 8vh;
    width: 100vw;
    z-index: 5;
}

.navbar button {
    float: left;
    height: 100%;
    width: 200px;
    font-size: 1.2em;
    cursor: pointer;
    border: none;
    text-align: left;
    padding-left: 30px;
    border-radius: 0;
}

.menu-name {
    float: right !important;
    width: auto !important;
    padding-right: 30px;
}

.navbar button:hover {
    background: rgba(250, 250, 250, 1);
    color: rgba(50, 50, 50, 1);
}

.profile_bar {
    position: fixed;
    height: 8vh;
    width: 12vw;
    min-width: 150px;
    margin-top: 8vh;
    right: 0;
    display: none;
    z-index: 3;
}

.profile_bar button {
    float: left;
    height: 100%;
    width: 100%;
    font-size: 1.2em;
    cursor: pointer;
    border: none;
    text-align: center;
    padding-left: 30px;
}

.profile_bar button:hover {
    background: rgba(50, 50, 200, 1);
    color: rgba(250, 250, 250, 1);
}

.content {
    float: left;
    min-height: 100vh;
    width: 100vw;
    margin-top: 8vh;
}

.page_header {
    float: left;
    width: 60vw;
    height: 9vh;
    margin-left: 20vw;
}

.page_header button {
    float: left;
    width: auto;
    height: 5vh;
    margin-top: 2vh;
    margin-right: 10px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1em;
    cursor: pointer;
}

.page_header button:hover {
    background: rgba(50, 50, 50, 1);
}

.table_responsive {
    float: left;
    height: auto;
    width: 60vw;
    margin-left: 20vw;
    margin-bottom: 50px;
}

table {
    border-collapse: collapse;
    width: 100%;
    min-width: 600px;
    border: 2px solid gray;
}

tr {
    border-radius: 8px;
}

th, td {
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    white-space: nowrap;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background: rgba(50, 150, 50, 1);
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

.table_button {
    float: left;
    width: auto;
    height: auto;
    margin-right: 5px;
    font-size: 1em;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.table_button:hover {
    background: rgba(50, 50, 50, 1);
}

.tblPage {
    float: left;
    height: 8vh;
    width: 80%;
    min-width: 600px;
    margin-left: 10%;
}

.tblPage button {
    float: left;
    height: 3vh;
    width: 6%;
    margin-left: 2%;
    margin-top: 2vh;
    background: rgba(50, 200, 50, 1);
    color: rgba(250, 250, 250, 1);
    border: none;
    cursor: pointer;
    font-size: 1em;
}

.tblPage button:hover {
    background: rgba(50, 50, 50, 1);
}

.tblPage button:disabled {
    background: rgba(50, 50, 200, 1);
}

footer {
    float: left;
    width: 100vw;
    height: 20px;
    vertical-align: middle;
    background: rgba(50, 50, 50, 1);
    color: rgba(250, 250, 250, 1);
    padding: 20px;
    font-size: 15px;
    text-align: center;
}

.modal {
    position: fixed;
    width: 60vw;
    height: auto;
    margin-left: 20vw;
    background: rgba(250, 250, 250, 1);
    top: 8vh;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    z-index: 6;
    display: none;
}

.modal-header {
    float: left;
    width: 100%;
    height: 50px;
    border: none;
    background: rgba(0, 90, 165, 1);
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-header p {
    text-align: center;
}

.modal-content {
    float: left;
    width: 100%;
    height: auto;
    min-height: 50px;
    border: none;
}

.modal-footer {
    float: left;
    width: 100%;
    height: 50px;
    border: none;
    border-top: 1px solid gray;
}

.modal-footer button {
    float: right;
    width: auto;
    height: 40px;
    margin-top: 5px;
    margin-right: 10px;
    border: none;
    background: rgba(200, 50, 50, 1);
    color: rgba(250, 250, 250, 1);
    cursor: pointer;
    outline: none;
}

.modal-footer button:hover {
    background-color: rgba(50, 50, 50, 1);
    color: rgba(250, 250, 250,);
}

.form_group {
    width: 80%;
    margin-left: 10%;
    height: 50px;
    margin-top: 10px;
    text-align: left;
}

.form_group label {
    font-size: 14px;
    font-weight: bold;
    width: 100%;
}

.input_icon {
    float: left;
    width: 10%;
    height: 30px;
    border: 1px solid black;
    text-align: center;
    border-right: none;
}

.input_icon i {
    margin-top: 6px;
}

.input_group input {
    float: left;
    width: 85%;
    height: 28px;
    border: 1px solid black;
    outline: none;
}

.input_group input:disabled {
    background: rgba(200, 200, 200, 1);
}

.input_group select {
    float: left;
    width: 87%;
    height: 32px;
    border: 1px solid black;
    outline: none;
}

.input_group input[type="file"] {
    float: left;
    width: 87%;
    height: 30px !important;
    border: 1px solid black;
    outline: none;
    font-size: 1.3em;
}

.button_form {
    float: right;
    margin-top: 15px;
    margin-right: 13%;
    margin-bottom: 15px;
    width: auto;
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: rgba(0, 90, 165, 1);
    color: rgba(250, 250, 250, 1);
}

.button_form:hover {
    background: #04AA6D;
    color: white;
}

.loading {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(50, 50, 50, 0.9);
    z-index:5;
    display: none;
}

@media only screen and (max-width: 1000px) {
    .page_header {
        width: 80vw;
        margin-left: 10vw;
    }
    
    .table_responsive {
        width: 80vw;
        margin-left: 10vw;
        overflow-x: scroll;
    }

    .tblPage {
        width: 80%;
        margin-left: 10%;
    }
}

@media only screen and (max-width: 600px) {
    .page_header {
        width: 100vw;
        margin-left: 0;
    }
    
    .table_responsive {
        width: 100vw;
        margin-left: 0;
        overflow-x: scroll;
    }

    table {
        width: auto;
    }

    th, td {
        white-space: nowrap;
    }

    .tblPage {
        width: 100%;
        margin-left: 0;
    }

    .modal {
        width: 100vw;
        margin-left: 0;
    }
}